{
  "swagger": "2.0",
  "info": {
    "title": "UTMSTAT",
    "version": "1.0",
    "contact": {
      "name": "Aleksey Laptev",
      "email": "utmstat.com@gmail.com"
    },
    "description": "Описание API сервиса сквозной аналитики utmstat.com"
  },
  "host": "api.utmstat.com",
  "schemes": [
    "https"
  ],
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/x-www-form-urlencoded"
  ],
  "paths": {
    "/call/{hash}/start": {
      "parameters": [
        {
          "type": "string",
          "name": "hash",
          "in": "path",
          "required": true,
          "description": "Хэш проекта"
        }
      ],
      "post": {
        "summary": "/call/{hash}start",
        "tags": ["Звонки"],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "integer",
                  "description": "HTTP status"
                },
                "has_error": {
                  "type": [
                    "integer",
                    "null"
                  ],
                  "description": "Флаг наличия ошибки"
                },
                "data": {
                  "type": "null",
                  "description": "Возвращаемые данные"
                },
                "message": {
                  "type": [
                    "string",
                    "null"
                  ],
                  "description": "Сообщение об ошибке"
                }
              },
              "required": [
                "status",
                "has_error",
                "data",
                "message"
              ]
            },
            "examples": {
              "Ошибка": {
                "status": 400,
                "has_error": 1,
                "data": null,
                "message": "Номер должен быть в формате 71234567890"
              },
              "Успешный ответ": {
                "status": 200,
                "has_error": null,
                "data": null,
                "message": null
              }
            }
          }
        },
        "description": "Уведомление о начале звонка",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "parameters": [
          {
            "in": "formData",
            "type": "string",
            "name": "event",
            "description": "Название события: notify_start",
            "required": true,
            "default": "notify_start"
          },
          {
            "in": "formData",
            "type": "string",
            "name": "telephony_name",
            "description": "Название телефонии",
            "default": "Внешняя телефония"
          },
          {
            "in": "formData",
            "type": "string",
            "description": "Id звонка, должен быть уникальным в пределах проекта",
            "name": "call_id",
            "required": true
          },
          {
            "in": "formData",
            "type": "number",
            "name": "call_start",
            "description": "Время начала звонка в формате timestamp",
            "pattern": "/\\d+/",
            "required": true
          },
          {
            "in": "formData",
            "type": "number",
            "name": "caller_id",
            "description": "Номер вызывающего абонента в формате 71234567890",
            "required": true
          },
          {
            "in": "formData",
            "type": "number",
            "name": "called_did",
            "description": "Номер вызываемого абонента в формате 71234567890",
            "required": true
          },
          {
            "in": "formData",
            "type": "string",
            "name": "manager_id",
            "description": "Id менеджера, на которого назначается данный звонок"
          }
        ],
        "operationId": "POST_call-hash-start"
      }
    },
    "/call/{hash}/end": {
      "parameters": [
        {
          "type": "string",
          "name": "hash",
          "in": "path",
          "required": true,
          "description": "Хэш проекта"
        }
      ],
      "post": {
        "summary": "/call/{hash}/end",
        "tags": ["Звонки"],
        "responses": {
          "200": {
            "description": "OK",
            "examples": {
              "Пример": {
                "status": 200,
                "has_error": null,
                "data": null,
                "message": null
              }
            },
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "integer",
                  "description": "HTTP status",
                  "example": 200,
                  "default": 200
                },
                "has_error": {
                  "type": "null",
                  "description": "Флаг наличия ошибки"
                },
                "data": {
                  "type": "null",
                  "description": "Возвращаемые данные"
                },
                "message": {
                  "type": "null",
                  "description": "Сообщение об ошибке"
                }
              },
              "required": [
                "status",
                "has_error",
                "data",
                "message"
              ]
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "integer",
                  "default": 400,
                  "description": "HTTP статус",
                  "example": 400
                },
                "has_error": {
                  "type": "integer",
                  "default": 1,
                  "description": "Флаг наличия ошибки",
                  "example": 1
                },
                "data": {
                  "type": "null",
                  "description": "Возвращаемые данные"
                },
                "message": {
                  "type": "string",
                  "description": "Сообщение об ошибке",
                  "example": "Номер должен быть в формате 71234567890"
                }
              },
              "required": [
                "status",
                "has_error",
                "data",
                "message"
              ]
            },
            "examples": {
              "Пример": {
                "status": 400,
                "has_error": 1,
                "data": null,
                "message": "Номер должен быть в формате 71234567890"
              }
            }
          }
        },
        "description": "Уведомление о завершении звонка",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "parameters": [
          {
            "in": "formData",
            "type": "string",
            "name": "event",
            "description": "Название события: notify_end",
            "default": "notify_end",
            "required": true
          },
          {
            "in": "formData",
            "type": "string",
            "name": "call_id",
            "required": true,
            "description": "Id звонка, должен быть уникальным в пределах проекта"
          },
          {
            "in": "formData",
            "type": "number",
            "name": "call_start",
            "required": true,
            "description": "Время начала звонка в формате timestamp"
          },
          {
            "in": "formData",
            "type": "string",
            "name": "caller_id",
            "required": true,
            "description": "Номер вызывающего абонента в формате 71234567890"
          },
          {
            "in": "formData",
            "type": "string",
            "name": "called_did",
            "required": true,
            "description": "Номер вызываемого абонента в формате 71234567890"
          },
          {
            "in": "formData",
            "type": "integer",
            "name": "duration",
            "required": true,
            "description": "Длительность звонка в секундах"
          },
          {
            "in": "formData",
            "type": "string",
            "name": "disposition",
            "enum": [
              "ANSWERED",
              "NO ANSWER",
              "CONGESTION",
              "FAILED",
              "BUSY"
            ],
            "required": true,
            "description": "Статус завершения звонка"
          },
          {
            "in": "formData",
            "type": "string",
            "name": "manager_id",
            "description": "Id менеджера, на которого назначается данный звонок"
          }
        ],
        "operationId": "POST_call-hash-end"
      }
    },
    "/call/{hash}/record": {
      "parameters": [
        {
          "type": "string",
          "name": "hash",
          "in": "path",
          "required": true,
          "description": "Хэш проекта"
        }
      ],
      "post": {
        "summary": "/call/{hash}/record",
        "tags": ["Звонки"],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "integer",
                  "default": 200,
                  "description": "HTTP status",
                  "example": 200
                },
                "has_error": {
                  "type": "null",
                  "description": "Флаг наличия ошибки"
                },
                "data": {
                  "type": "null",
                  "description": "Возвращаемые данные"
                },
                "message": {
                  "type": "null",
                  "description": "Сообщение об ошибке"
                }
              },
              "required": [
                "status",
                "has_error",
                "data",
                "message"
              ]
            },
            "examples": {
              "Пример": {
                "status": 200,
                "has_error": null,
                "data": null,
                "message": null
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "integer",
                  "default": 400,
                  "description": "HTTP статус",
                  "example": 400
                },
                "has_error": {
                  "type": "integer",
                  "default": 1,
                  "description": "Флаг наличия ошибки",
                  "example": 1
                },
                "data": {
                  "type": "null",
                  "description": "Возвращаемые данные"
                },
                "message": {
                  "type": "string",
                  "description": "Сообщение об ошибке",
                  "example": "Номер должен быть в формате 71234567890"
                }
              },
              "required": [
                "status",
                "has_error",
                "data",
                "message"
              ]
            },
            "examples": {
              "Пример": {
                "status": 400,
                "has_error": 1,
                "data": null,
                "message": "Номер должен быть в формате 71234567890"
              }
            }
          }
        },
        "description": "Уведомление о записи звонка",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "parameters": [
          {
            "in": "formData",
            "type": "string",
            "name": "event",
            "description": "Название события: notify_record",
            "default": "notify_record",
            "required": true
          },
          {
            "in": "formData",
            "type": "string",
            "name": "call_id",
            "required": true,
            "description": "Id звонка, должен быть уникальным в пределах проекта"
          },
          {
            "in": "formData",
            "type": "string",
            "name": "record_id",
            "required": true,
            "description": "Ссылка на запись. Должна быть валидным url"
          }
        ],
        "operationId": "POST_call-hash-record"
      }
    }
  },
  "basePath": "/v1",
  "securityDefinitions": {}
}